<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>764937457152-7okch3m67sj7n0un5aafp4k9pce4uaou.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.764937457152-7okch3m67sj7n0un5aafp4k9pce4uaou</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>764937457152-sgfnnuo4tna6nsp7r66cdknet7hvrltv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAF28NCxzBAPfMPenepiyUH7-7RIm1tqXU</string>
	<key>GCM_SENDER_ID</key>
	<string>764937457152</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.emotiontracker.thirdeye</string>
	<key>PROJECT_ID</key>
	<string>thirdeye-emotion-tracker</string>
	<key>STORAGE_BUCKET</key>
	<string>thirdeye-emotion-tracker.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:764937457152:ios:96755010717b303a4e92e5</string>
</dict>
</plist>